:root {
  /* Background color */
  --color-bg: #fceb94;

  /* Header background color */
  --color-head-bg: #f54b03;

  /* Logotype */
  --color-logotype-bg: #2a2828;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff;
  --color-link-active: #fceb94;
  --border-radius-links: 25px;

  /* Headlines (size)*/
  --font-h1-size: 2rem;
  --font-h2-size: 1.4rem;
  --font-h3-size: 1rem;

  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --font-sub1-size: 1rem;

  /* Headlines (color) */
  --color-headline-bg: #000000;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /* Andet tekst */
  --followup-text-size: 1rem;

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #fceb94;
  --color-card-bg-inverted: #def5db;
  --color-cta-card-bg: #fffae3;
  --color-cta-card-bg-inverted: #dce2f6;

  /* Fonts & font weights*/
  --font-family-sans: Rubik;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: #ffffff;
}
